/***************************  ELEMENTS **********************/
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 1.5rem;
  height: 3.5rem;
  margin-top: 20px;
}

/***************************  CLASSES **********************/
.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat-light', sans-serif;
  font-size: 1.2rem;
}

/* Download Buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title {
  background-color: #ff4c68;
  color: #fff;
}

.title-img {
  position: absolute;
  right: 30%;
  transform: rotate(25deg);
  width: 60%;
}

/* Features Section */
#features {
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.features-p {
  color: #8f8f8f;
  padding: 5%;
}

.icon {
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonials-img {
  border-radius: 50%;
  margin: 20px;
  width: 10%;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press Section*/
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Pricing Section*/
#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}

/* cta Section */
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
}

.cta-header {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 100px;
}

/* Footer Section */
#footer {
  background-color: #fff;
  padding: 7% 15%;
}

.social {
  margin: 2% 3%;
}

.footer-p {
  color: #8f8f8f;
  font-family: 'Montserrat-light', sans-serif;
  padding: 5%;
}

/* Mobile Responsive */
@media (max-width: 900px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}
